@font-face {
    font-family: jetbrainsMono;
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2');
}

:root {
    --mainFont: jetbrainsMono
}

body {
    background-color: #2C2F33;
    text-align: center;
    
}

p {
    font-family: var(--mainFont);
    color: #FFFFFF;
}

h1 {
    font-family: var(--mainFont);
    color: #FFFFFF;
}

h3 {
    font-family: var(--mainFont);
    color: #FFFFFF;
}

button {
    font-family: var(--mainFont);
    font-size: large;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: none;
    transition: 0.25s;
}

button:hover {
    background-color: #5865F2;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    font-family: var(--mainFont);
    font-size: 1.2em;
    color: #2C2F33;
    background-color: #FFFFFF;
    border-radius: 8px;
}

a:hover {
    background-color: #5865F2;
}

#people {
    margin-left: 15em;
    margin-right: 15em;
}

#contributors {
    overflow: scroll;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    height: 5em;
}